rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // --- Reglas para la colección 'users' ---
    match /users/{userId} {
      // Cualquiera autenticado puede leer perfiles (para el directorio).
      allow read: if request.auth != null;
      // Un usuario solo puede actualizar su propio perfil.
      allow update: if request.auth != null && request.auth.uid == userId;
      // Nadie puede crear o borrar usuarios desde la app.
      allow create, delete: if false;
    }

    // --- Reglas para la colección 'kitchen_menus' ---
    match /kitchen_menus/{menuId} {
      // Solo usuarios autenticados pueden leer y actualizar el menú (roles se validan en la app).
      allow read, update: if request.auth != null;
      // Nadie puede crear o borrar menús desde la app.
      allow create, delete: if false;
    }

    // --- Reglas para la colección 'news_items' ---
    match /news_items/{newsId} {
      // Solo los usuarios autenticados pueden leer las noticias.
      allow read: if request.auth != null;
      // Solo usuarios autenticados pueden escribir (crear/actualizar/borrar).
      // La lógica de roles más específica está en la app.
      allow write, update, delete: if request.auth != null;
    }

    // --- REGLA PARA CARPETAS Y SUS ARCHIVOS ---
    match /docs_folders/{folderId} {
      allow read, write, create, delete: if request.auth != null;
      allow update: if false;
      // Regla para la subcolección de archivos
      match /files/{fileId} {
        allow read, write, delete, create, update: if request.auth != null;
      }
    }

    // --- Reglas para la colección 'sites' ---
    match /sites/{siteId} {
        // Cualquiera puede leer los sitios de interés.
        allow read: if request.auth != null;
        // solo administradores puede crear o borrar sitios de interés desde la app.
        allow create, delete: if request.auth != null;
        allow update: if false;
    }
  }
}
